<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.8.1" targetFramework="net46" />
  <package id="KeraLua" version="1.0.26" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net46" />
  <package id="NLog" version="4.6.8" targetFramework="net46" />
  <package id="NLog.Config" version="4.6.8" targetFramework="net46" />
  <package id="NLog.Schema" version="4.6.8" targetFramework="net46" />
  <package id="NLua" version="1.4.29" targetFramework="net46" />
  <package id="RestSharp" version="106.10.1" targetFramework="net46" />
</packages>